OPENAI_API_KEY=

POLYGON_API_KEY=
POLYGON_PLAN=

BRAVE_API_KEY=

PUSHOVER_USER=
PUSHOVER_TOKEN=

DEEPSEEK_API_KEY=
GROK_API_KEY=
GOOGLE_API_KEY=
OPENROUTER_API_KEY=

RUN_EVERY_N_MINUTES=60
RUN_EVEN_WHEN_MARKET_IS_CLOSED=true
USE_MANY_MODELS=false
